
.CalendarDay__default,
.CalendarDay__default:hover{
    background: grey;
    color: grey;
    border: 1px solid white;
}

.CalendarDay__selected_span,
.CalendarDay__selected,
.CalendarDay__selected_span.CalendarDay__default:hover{
    background: green;
    color: black;
    border: 1px solid white;
}

.CalendarDay__firstDayOfWeek.CalendarDay__selected_span,
.CalendarDay__lastDayOfWeek.CalendarDay__selected_span,
.CalendarDay__firstDayOfWeek.CalendarDay__selected,
.CalendarDay__lastDayOfWeek.CalendarDay__selected,

.CalendarDay__firstDayOfWeek.CalendarDay__selected_span.CalendarDay__default:hover,
.CalendarDay__lastDayOfWeek.CalendarDay__selected_span.CalendarDay__default:hover,
.CalendarDay__firstDayOfWeek.CalendarDay__selected.CalendarDay__default:hover,
.CalendarDay__lastDayOfWeek.CalendarDay__selected.CalendarDay__default:hover
{
    background: yellow;
    color: black;
    border: 1px solid white;
}

.CalendarDay__highlighted_calendar.CalendarDay__selected,
.CalendarDay__highlighted_calendar.CalendarDay__selected_span{
    background: orange !important;
    color: black;
    border: 1px solid white;  
}



